body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
     /* Adjust as needed (center, top left, etc.) */
  }
  
  header {
    background-color: #c02942;
    color: #fff;
    padding: 10px 0;
    background-image: url("../assets/Images/headerbackBack.png"); 
    background-size:cover;/* Adjust as needed (cover, contain, etc.) */
    height: 400px;
    background-position: center;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    position: relative;
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  
  
  .search-form {
    position: relative;
  }
  
  #search-box {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
  }
  
  .search-form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .search-form button img {
    width: 20px;
    height: 20px;
  }
  
  .background2{
    background-image: url("../assets/Images/headerbackBack.png"); 
    background-size:cover;/* Adjust as needed (cover, contain, etc.) */
    height: 800px;
    background-position: center;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
  
  }
  
  .container12 {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    
  
  }
  
  .container12 img {
    width: 80%;
    height: auto;
    border-radius: 30px;
    margin: 40px 40px 40px ;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .text-content {
  margin-top: 100px;
  word-wrap: break-word; 
    margin-right: 350px;
  }
  .text-content h3{
    width: 400px;
    word-wrap: break-word;
  }
  
  .container12 .btn {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: #55555500;
    width: 10%;
    height: auto;
    border-color: #b6a1a100;
  }
  
  .container12 .btn3 {
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-50%, -50%);
    background-color: #55555500;
    width: 10%;
    height: auto;
    border-color: #b6a1a100;
    
  }
  
  
  #red-planet {
    position: relative;
    left: 30px;
    color: black;
    bottom: 30px;
    font-family: porterSans;
    color: red;
    font-size: 48px;
    
  }
  
  
  @font-face {
    font-family: porterSans;
    src: url(../assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff"); 
  }
  
  .SpaceCraft{
    
    background-size: cover;
    height:700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    
  
  }
  
  
  
  .SpaceCraft img {
    width: 40%;  
    margin-right: 50px;
    margin-left: 180px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    
    
  }
  
  
  .SpaceCraft h3 {
  margin:50px; 
    padding: 10px; 
  }
  
  
  .background3{
    background-image: url("../assets/Images/headerbackBack.png"); 
    background-size:cover;/* Adjust as needed (cover, contain, etc.) */
    height: 800px;
    background-position: center;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 1);
  
  }
  
  .container1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0px auto;
    width: 80%; 
     
    border-radius: 10px; 
    padding: 20px; 
    
    
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .image-box {
    width: 20%; 
    margin: 10px; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
  }
  
  .image-box img {
    width: 100%; 
    transition: opacity 0.3s ease-in-out; 
  }
  
  .image-box:hover img {
    opacity: 0.7; 
  }
  
  .image-box h3{
    position: absolute; 
    top: 250px; 
    border-radius: 50px;
  
    width: 100%; 
    padding: 10px; 
    margin: 0; 
    color: #fff; 
     
    transition: all 0.3s ease
  }
  
  .large{
    font-size: 35px;
  }
  
  
  /*footer*/
  
  
  @media only screen and (max-width: 768px) {
    header {
      height: 200px;
    }
  
    nav {
      flex-direction: column;
    }
  
    nav ul {
      text-align: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  }
  
  
  .footer12 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 50px;
    
  }
  
  
  .footer12 > .logo12,
  .footer12 > nav,
  .footer12 > .social-media-container {
   
    text-align: inherit; 
  }
  
  .footer12 nav {
    
    margin: 0; 
    padding: 0;
    list-style: none; 
  }
  
  .footer12 nav li {
    
     
    margin-right: 10px; 
  }
  
  ul{
    list-style-type: none;
  }
  
  .big{
    font-size:50px ;
  }
  
  
  .knoppie{
    background-color: black;
    border: purple;
    color: white;
    padding: 10px 20px;
    text-align:  center;
    text-decoration: none;
    display: inline-block;
    cursor: crosshair;
    border-radius: 16px;
    margin: 230px 50px 500px 46%;
    scale: 1.3;
   
  }
  
  footer{
    padding-left: 20px;
    padding-right: 20px;
  
  }
  
  
  .footer-content{
    display:flex;
    justify-content: space-between;
    color: #888;
  }
  
  a{
    text-decoration: none;
  }
  
  .knoppie2{
    background-color: black;
    border: purple;
    color: white;
    padding: 10px 20px;
    text-align:  center;
    text-decoration: none;
  margin-left: 40px;
    cursor: crosshair;
    border-radius: 16px;
     
    scale: 1.3;
    
  }
  
  
  
  .rooi-planeet{
    margin-top: 55vh;
  }
  @font-face
  {
    font-family: Poppins-Black;
    src: url(../assets/Fonts/porter_sans_block/Poppins-Black.ttf) format("ttf"); 
  }
  .large {
    font-family: Poppins-Black;
  }


  #flights-text {
    font-family: porterSans;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-basis: calc(33% - 20px);
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .section-image {
    width: 600px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 45px;
  }
  
  .section-text {
    grid-column: 2;
    align-self: center;
    flex-direction: column;
    margin-left: auto;
    padding-left: 100px;
    width: 700px;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .section-button {
    font-size: 1.2rem;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: #cf212b;
    color: #fff;
    cursor: not-allowed;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 45px;
  }
  .social-media-container{
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 15px;
  }